[submodule "games/space-invaders"]
	path = games/space-invaders
	url = https://github.com/trivox-io/space-invaders.git
[submodule "games/asteroids"]
	path = games/asteroids
	url = https://github.com/trivox-io/asteroids.git
[submodule "games/pong"]
	path = games/pong
	url = https://github.com/trivox-io/pong.git
[submodule "games/breakout"]
	path = games/breakout
	url = https://github.com/trivox-io/breakout.git
[submodule "games/snake"]
	path = games/snake
	url = https://github.com/trivox-io/snake.git
[submodule "games/pacman"]
	path = games/pacman
	url = https://github.com/trivox-io/pacman.git
[submodule "games/tetris"]
	path = games/tetris
	url = https://github.com/trivox-io/tetris.git
